{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
        {{ form.old_password }}
        {{ form.old_password.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}
