# For PostgreSQL
POSTGRES_DB=ndure_db
POSTGRES_USER=ndure_user
POSTGRES_PASSWORD=yourpassword

# For Django
SECRET_KEY=your_default_secret_key
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0
